Repository ludeeus/container, pull requests merged in 2022-01, with the labels that each got.

#242 Update pip command to use https instead of the unencrypted git protocol
  container/helpers/common/homeassistant/start.sh
Labels: devcontainer/integration

#241 Update NodeJS from 17.3.0 to 17.3.1
  containerfiles/alpine-s6/node/config.json
  containerfiles/alpine/node/config.json
  containerfiles/debian-s6/node/config.json
  containerfiles/debian/node/config.json
  containerfiles/devcontainer/frontend/config.json
  containerfiles/devcontainer/node/config.json
  include/install/node/versions.json
Labels: alpine/node, debian/node, node

#244 Update the integration container to install additional dependencies
  include/install/devcontainer/integration.sh
Labels: devcontainer/integration

#246 Update NodeJS from 17.3.1 to 17.4.0
  containerfiles/alpine-s6/node/config.json
  containerfiles/alpine/node/config.json
  containerfiles/debian-s6/node/config.json
  containerfiles/debian/node/config.json
  containerfiles/devcontainer/frontend/config.json
  containerfiles/devcontainer/node/config.json
  include/install/node/versions.json
Labels: alpine/node, debian/node, node

#245 Update Python from 3.10.1 to 3.10.2
  containerfiles/alpine-s6/python/config.json
  containerfiles/alpine/python/config.json
  containerfiles/debian-s6/python/config.json
  containerfiles/debian/python/config.json
  containerfiles/devcontainer/integration/config.json
  containerfiles/devcontainer/python/config.json
  include/install/python/versions.json
Labels: alpine/python, debian/python, python
